* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color: white;
}


.container {
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5em;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-form {
    min-height: .5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#oracle-statement{
    font-size: 2em;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    display: auto;
    align-items: center;
    justify-content: center;
}
.post-list{
    display: flex; 
    padding: 2em;
    justify-content: center;
    align-items: center; 
    align-self: flex-end;
    padding-left: 4em;
}


ul {
    padding: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    list-style: none;
    min-width: 30%;
}
